iframe {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.main-video-box {
    width: 100%;
    height: 600px;
    margin-top: 1rem;
    border: solid 4px white;
    overflow: hidden;
    border-radius: 5px;
}

.video-box {
    width: 420px;
    height: 200px;
    margin-top: 1rem;
    border: solid 4px white;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}

.side-thumbnail {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

hr {
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: 1px solid white;
}

.main-video-description {
    background-color: rgb(2, 60, 94);
    backdrop-filter: blur(10px);
    color: white;
    width: 100%;
    height: 120px;
    margin-top: 1rem;
    border: solid 4px white;
    overflow: hidden;
    padding-top: 10px;
    padding-inline: 20px;
    border-radius: 5px;
}

a {
    cursor: pointer;
}

.main-video-container {
    padding: 10px;
    background-color: rgb(2, 60, 94);
    color: white;
    border-radius: 5px;
}

.highlight-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

i {
    margin: 0;
    padding: 0;
}

.btn-like {
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    float: right;
    padding: 10px;
    border: solid 2px white;
    background: linear-gradient(to left, rgba(0, 75, 117, 1), rgba(52, 61, 135, 1));
    color: white;
}

.highlight-title {
    padding: 10px;
    font-size: 18px;
    width: 100%;
    position: absolute;
    font-weight: bold;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    background-color: rgb(2, 60, 94);
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.highlight:hover .highlight-title {
    opacity: 0.8;
}
.icon-love,
.icon-love-liked {
    cursor: pointer;
    font-size: 20px;
    margin-right: 15px;
}

.icon-love {
    color: grey;
}

.icon-love-liked {
    color: red;
}

.btn-liked-videos {
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    background: linear-gradient(to left, rgba(0, 75, 117, 1), rgba(52, 61, 135, 1));
    border: solid 2px white;
}

a {
    text-decoration: none;
    color: white;
}

@media (max-width: 1400px) {
    .highlight-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .video-box {
        max-width: 330px;
    }
}

@media (max-width: 1200px) {
    .highlight-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .video-box {
        max-width: 450px;
    }
}

@media (max-width: 991px) {
    .highlight-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .video-box {
        max-width: 330px;
    }
}

@media (max-width: 767px) {
    .highlight-grid {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-items: center;
    }

    .video-box {
        max-width: 100%;
    }
}
